.grid-container {
  /* padding: auto !important; */
  /* min-height: 100%; */
  width: 90%;
  margin-top: 120px;
  display: flex;
  justify-content: start;
  /* border: 1px solid red; */
  display: table-cell;
}
.grid-item {
  height: 75vh;
}
