.border-animation {
  position: relative;
}

@media screen and (max-width: 900px) {
  .card-image {
    height: 12rem;
  }
  .alert-Info {
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
  }
}
@media screen and (max-width: 1200px) {
  .card-image {
    height: 7.3rem;
    border: 1px solid rgb(163, 163, 167);
  }
  .alert-Info {
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
.boxShadow {
  box-shadow: -1px 1px 1px #000, 1px -2px 1px #000, 1px -3px 1px #000,
    1px -4px 1px #000, 1px -5px 1px #000, 1px -6px 1px #000, 1px -7px 1px #000,
    1px -8px 1px #000, 1px -9px 1px #000, 1px -10px 1px #d67338,
    1px -18px 6px rgba(16, 16, 16, 0.4), 1px -22px 10px rgba(16, 16, 16, 0.2),
    1px -25px 35px rgba(16, 16, 16, 0.2), 1px -30px 60px rgba(16, 16, 16, 0.4) !important;
}
.imageBg {
  background-size: 100% 100%;
  transform: skewX(5deg) skewY(1deg) translateX(2px);
}
.grid-container-box {
  border-radius: 20px;
  box-shadow: #2f1e6d 0 0 10px 1px;
  background: rgb(190, 186, 222);
  background: linear-gradient(
    0deg,
    rgba(190, 186, 222, 1) 0%,
    rgba(187, 155, 118, 0.746) 26%,
    rgba(239, 238, 249, 0.989233193277311) 41%,
    rgba(255, 255, 255, 1) 49%,
    rgb(214, 199, 167) 55%,
    rgba(223, 206, 194, 1) 64%,
    rgb(187, 163, 137) 76%,
    rgba(205, 205, 240, 1) 100%
  );
}
