.detail_box {
  color: #dfe0e2;
  /* background: rgba(37, 38, 43, 0.572); */
  border-radius: 20px;
  padding: 2px;
  padding-inline-start: 15px;
}

.detail_box h1 {
  color: #fff;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.detail_box p {
  color: #fff;
  width: 644px;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-box {
  display: flex;
  justify-content: center;
}

/* CSS */
.button {
  width: 190px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  color: var(--Gray-6, #f2f2f2);
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #2f2496;
}
