.Navbar-image {
  background-image: url("../images/banner.jpg");
  border-top: 4px solid #ab8f13;
  border-bottom: 3px solid #ab8f13;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px -15px 12px;
}
